@import url('https://fonts.googleapis.com/css2?family=Maitree&family=Roboto:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/nickainley');

// font-family: 'Maitree', serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Nickainley', sans-serif;

h1, h2, h3, h4, h5, h6 {
    font-family: 'Maitree', serif;
    color: $black;
}

p, li {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $charcoal;
}