header.nav-header {
    flex: 0 0 auto;
    width: 100vw;
    height: 7rem;
    box-shadow: 0 4px 15px 0 rgba($charcoal, .1);

    nav {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;

        .logo-image-link {
            height: 3.5rem;

            .logo-image {
                height: 100%;
                width: auto;
                margin: auto 0;
            }
        }

        .nav-menu-icon {
            display: none;
        }

        .nav-menu-items-container {
            display: flex;
            flex-flow: row wrap;
    
            .nav-menu-item {
                display: inline;
                color: $charcoal;
                text-decoration: none;
                padding: 1rem 1rem .5rem;
                font-size: 1.5rem;
    
                &.active,
                &:hover {
                    border-bottom: 3px solid $dark-green;
                }
    
                &.active {
                    color: $dark-green;
                }
            }
        }
    }
}