.section-header-container {
    display: flex;
    flex-flow: column nowrap;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    margin-bottom: 5rem;

    .section-header-text-container {
        text-align: center;

        .section-header-title,
        .section-header-subtitle {
            color: $white;
        }

        .section-header-title {
            font-size: 4rem;
        }

        .section-header-subtitle {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            color: $light-grey;
            font-size: 2rem;
        }

    }
}