<footer>
  <div class="footer-column-container">
    <div class="footer-column">
      <a href="{{ site.url }}/index.html" class="logo-image-link">
        <img class="logo-image" alt="" src="{{ site.url }}/assets/images/anna-reisz-editing-logo-box-white.svg" />
      </a>
        <span class="footer-copyright">&copy;2021 Anna Reisz Editing</s>
    </div>
    <div class="footer-column">
      <h4 class="footer-column-title">Site Map</h4>
      {% for item in site.data.nav %}
        <a href="{{ site.url }}/{{ item.path }}" class="footer-link">{{ item.label }}</a>
      {% endfor %}
    </div>
    <div class="footer-column">
      <h4 class="footer-column-title">Recent Posts</h4>
        {% for post in site.posts limit:4 %}
          <a href="{{ post.url }}" class="footer-link">{{post.title}}</a>
        {% endfor %}
      </ul>
    </div>
    <div class="footer-column">
      <h4 class="footer-column-title">Contact Me</h4>
      <a href="mailto:{{ site.email }}" class="footer-email">
        {{ site.email }}
      </a>
      <div class="social-media-icons">
        <a href="http://facebook.com" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="http://twitter.com" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="http://tumblr.com" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
<script src="{{ "/assets/javascript/index.js" | prepend: site.baseurl }}" type="text/javascript"></script>