<header class="nav-header">
  <nav>
    <a href="{{ site.url }}/index.html" class="logo-image-link">
      <img class="logo-image" alt="" src="{{ site.url }}/assets/images/anna-reisz-editing-logo-box.png" />
    </a>
    <div class="nav-menu-icon">Menu</div>
    <div class="nav-menu-items-container">
      {% for item in site.data.nav %}
        {% if item.section_id == page.section_id %}
          {% assign active_class = "active" %}
        {% else %}
          {% assign active_class = "" %}
        {% endif %}
        <a href="{{ site.url }}/{{ item.path }}" class="nav-menu-item {{ active_class }}">{{ item.name }}</a>
      {% endfor %}
    </div>
  </nav>
</header>
