/***** Colors *****/

$dark-green:    #37725E;
$light-green:   #84C8AF;
$black:         #000000;
$charcoal:      #252525;
$dark-grey:     #424242;
$light-grey:    #DEDEDE;
$white:         #FFFFFF;


$max-width:     70rem;
