---
layout: default
---

{% include section-header.html title="Anna Reisz Editing Blog" tagline="Know what we are thinking and doing" image="section-header-background.png" %}

<div class='blog-page-container'>
  <div class='blog-posts'>

    {{content}}

    {% if paginator %}
      <div class="pagination-controls">
        {% if paginator.next_page %}
          {% if paginator.next_page == 1 %}
            <a href="/blog" class="older">Older Posts</a>
          {% else %}
            <a href="/blog/page{{ paginator.next_page }}" class="older">Older Posts</a>
          {% endif %}
        {% else %}
          <span class="older">Older Entries</span>
        {% endif %}
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <a href="/blog" class="newer">Newer Posts</a>
          {% else %}
            <a href="/blog/page{{ paginator.previous_page }}" class="newer">Newer Posts</a>
          {% endif %}
        {% else %}
          <span class="newer">Newer Entries</span>
        {% endif %}
      </div>
    {% endif %}
  
  </div>

  {% include sidebar.html %}

</div>